#menu-toggle{
  &[aria-expanded="true"]{
    #menu-open-icon {
      display: none;
    }
    #menu-close-icon {
      display: block;
    }
  }
  &[aria-expanded="false"]{
    #menu-open-icon {
      display: block;
    }
    #menu-close-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 1199px) {
  #navbar-sticky {
    @apply absolute hidden z-10 top-full left-0 w-full h-0 opacity-0 flex-col items-start bg-slate-50 shadow-[0_15px_16px_#00000010] pb-5;
    display: flex;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0.3s;
    .nav-content {
      opacity: 0;
      display: flex;
      transition: opacity 1s ease-in-out;
    }
  }

  #navbar-sticky:not(.hidden) {
    @apply h-[300px] opacity-100 visible;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0s;
    
    .nav-content {
      opacity: 100;
    }
  }
}